/새 폴더/
/newminion/_230118/
/newminion/_230127/
/newminion/_230303/
/newminion/_230315/
/newminion/_230411/
/newminion/_230415/
/newminion/_230428/
/newminion/_230510/
/newminion/_230516/
/newminion/_230520/
/newminion/_230616/
/newminion/_230629/
/newminion/_230824/
/image_src/battleimg/videocapture/*.png
/__pycache__/